<launch>
	<arg name="subfix" default=""/>
	<arg name="port" default="/dev/ttyACM0"/>
	<arg name="baud" default="115200"/>
	<arg name="simulation" default="false"/>

	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
	<node unless="$(arg simulation)" pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen">
		<param name="port" value="$(arg port)"/>
		<param name="baud" value="$(arg baud)"/>
	</node>

	<node name="clear_log" pkg="agv_bringup" type="clear_log$(arg subfix)" output="screen"/>
	<node name="followline" pkg="agv_bringup" type="followline$(arg subfix)" output="screen" args="-s $(arg simulation)">
		<rosparam file="$(find agv_tape_config)/params/followline.yaml"/>
	</node>
	<node name="controlsystem" pkg="agv_bringup" type="controlsystem$(arg subfix)" output="screen" args="-s $(arg simulation)"/>
	<node name="sound_control" pkg="agv_bringup" type="sound_control$(arg subfix)"/>
	<node name="odometry" pkg="agv_bringup" type="odometry$(arg subfix)"/>
	<node unless="$(arg simulation)" name="node_manager" pkg="agv_bringup" type="node_manager$(arg subfix)"/>
	<node unless="$(arg simulation)" name="followline_sensor" pkg="agv_bringup" type="followline_sensor$(arg subfix)"/>

	<include file="$(find agv_bringup)/launch/load_reconfigure.launch"/>
</launch>